{% load staticfiles %}
{% load i18n %}
<!--[if lt IE 7]>      <html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie lt-ie9" lang="es"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]> <!--> 
{% get_current_language as LANGUAGE %}
<html class="no-js" lang="{{ LANGUAGE }}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="no-cache" http-equiv="cache-control"/>
    <meta name="author" name=""/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="viewport" content="initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> 
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-startup-image" href="img/splash.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="touch-icon-144x144.png" /> <!-- iPad retina -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icon-114x114.png" /> <!-- iPhone 4+ -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icon-72x72.png" /> <!-- iPad -->
    <link rel="apple-touch-icon-precomposed" href="touch-icon.png" /> <!-- iPhone, iPod -->
    <link rel="apple-touch-icon" href="touch-icon.png" /><!-- !iOS (BB, Anroid, MS, etc.) -->
    
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="{% static "js/libs/html5shiv.js" %}"></script>
    <![endif]-->
  </head>
  <body>
    <!-- content, this holds specific layouts -->
    {% block content %}
    {% endblock %}
    <!-- /content -->

    <!-- templates -->
    {% block templates %}
    {% endblock %}
    <!-- /templates -->

    <script type="application/javascript" src="{% static "js/libs/jquery.js" %}"></script>
    <script type="application/javascript" src="{% static "js/libs/bootstrap.js" %}"></script>
    <script type="application/javascript" src="{% static "js/libs/underscore.js" %}"></script>
    <script type="application/javascript" src="{% static "js/libs/backbone.js" %}"></script>
    <script type="application/javascript" src="{% static "js/libs/backbone.associate.js" %}"></script>
    <script type="application/javascript">
      /* Creates namespaces for the app */
      js = {};
      js.app = {};
    </script>

    {% block js %}
    {% endblock %}
  </body>
</html>
