{% extends "base.layout.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}
<!-- content -->
{% block content %}
<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Signups</a>
      <ul class="nav pull-right">
	<li class="dropdown">
	  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
	    {{ user.email }}<b class="caret"></b>
	  </a>
          <ul class="dropdown-menu">
            <li><a href="#">Me</a></li>
            <li class="divider"></li>
	    <li>
	      <a href="/en">English</a>
	    </li>
	    <li>
	      <a href="/es">Spanish</a>
	    </li>
	    <li>
	      <a href="/it">Italian</a>
	    </li>
	    <li class="divider"></li>
            <li><a href="/users/logout">Logout</a></li>
	    <li class="divider"></li>
            <li><a href="#">Contact us</a></li>
          </ul>
	</li>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 45px;">
  {% block layout_content %}
  {% endblock %}
</div>
{% endblock %}
<!-- /content -->

<!-- templates -->
{% block templates %}
{% endblock %}
<!-- /templates -->

<!-- scripts -->
{% block js %}
<script type="application/javascript" src="{% static "js/app.models.js" %}"></script>
<script type="application/javascript" src="{% static "js/app.views.js" %}"></script>
<script type="application/javascript" src="{% static "js/app.js" %}"></script>
{% endblock %}
<!-- /scripts -->

