{% extends "login.layout.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
{% if show_error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Wrong!</strong> {{ message }}
</div>
{% endif %}
{% if show_info %}
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Yay!</strong> {{ message }}
</div>
{% endif %}
	
<form class="form-signin" method="post" action="{% url 'social:complete' "email" %}">
  <h2 class="form-signin-heading">Log in to Fannabee</h2>
  <div style="margin: 10px 0 20px 0;">
    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-large btn-primary" style="margin-bottom: 10px;">Log in with Facebook</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-large btn-danger">Log in with Google</a>
  </div>
  <input type="email" placeholder="Email address" class="input-block-level" name="email"/>
  <input type="password" placeholder="Password" class="input-block-level" name="password"/>
  <label class="checkbox">
    <input type="checkbox" value="remember-me"/> Remember me
  </label>
  <button type="submit" class="btn btn-large btn-primary">Log in</button>
</form>
{% endblock %}
