{% extends "login.layout.html" %}
{% load staticfiles %}

{% block title %}Sign up{% endblock %}
{% block content %}

<form class="form-signup" action="{% url 'social:complete' "email" %}" method="post" class="form-horizontal" id="signup" novalidate="novalidate">
  <input type="hidden" name="sign_up" value="t"/>
  <legend>Sign up</legend>
  <div class="control-group">
    <label class="control-label">Username</label>
    <div class="controls">
      <div class="input-prepend">
	<span class="add-on"><i class="icon-user"></i></span>
	<input type="text" placeholder="Username" name="username" class="input-xlarge">
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">First Name</label>
    <div class="controls">
      <div class="input-prepend">
	<span class="add-on"><i class="icon-user"></i></span>
	<input type="text" placeholder="First Name" name="first_name" class="input-xlarge">
      </div>
    </div>
  </div>
  <div class="control-group ">
    <label class="control-label">Last Name</label>
    <div class="controls">
      <div class="input-prepend">
	<span class="add-on"><i class="icon-user"></i></span>
	<input type="text" placeholder="Last Name" name="last_name" class="input-xlarge">
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <div class="input-prepend">
	<span class="add-on"><i class="icon-envelope"></i></span>
	<input type="text" placeholder="Email" name="email" id="email" class="input-xlarge">
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Gender</label>
    <div class="controls">
      <p></p>
      <div id="gender" data-toggle="buttons-radio" class="btn-group">  
        <button class="btn btn-info active" name="gender" required="required" type="button" value="M">Male</button>
        <button class="btn btn-info" name="gender" required="required" type="button" value="F">Female</button>
      </div>
      <p></p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <div class="input-prepend">
	<span class="add-on"><i class="icon-lock"></i></span>
	<input type="Password" placeholder="Password" name="password" class="input-xlarge" id="passwd">
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <button class="btn btn-success" type="submit">Sign up</button>
    </div>
  </div>
</form>
{% endblock %}
